@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 100;
	src: url('../public/fonts/Woff/IRANSansXFaNum-thin.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-thin.woff2') format('woff2');		
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 200;
	src: url('../public/fonts/Woff/IRANSansXFaNum-UltraLight.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 300;
	src: url('../public/fonts/Woff/IRANSansXFaNum-light.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-light.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 500;
	src: url('../public/fonts/Woff/IRANSansXFaNum-medium.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 600;
	src: url('../public/fonts/Woff/IRANSansXFaNum-demibold.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-demibold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 800;
	src: url('../public/fonts/Woff/IRANSansXFaNum-extrabold.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-extrabold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: 900;
	src: url('../public/fonts/Woff/IRANSansXFaNum-black.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-black.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: bold;
	src: url('../public/fonts/Woff/IRANSansXFaNum-bold.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansXFaNum;
	font-style: normal;
	font-weight: normal;
	src: url('../public/fonts/Woff/IRANSansXFaNum-regular.woff') format('woff'),   
	url('../public/fonts/Woff2/IRANSansXFaNum-regular.woff2') format('woff2');	
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: IRANSansXFaNum;
  color: #3F4064
}